/* Общие стили для секции */
.description {
    width: 100%; /* ширина на 100% */
    padding: 40px 20px; /* отступы */
    background: url("../images/v2_19.png") center center/cover no-repeat; /* фон */
    display: flex; /* использование flexbox для выравнивания */
    flex-direction: column; /* вертикальное расположение элементов */
    align-items: left; /* выравнивание по центру */
}

/* Контейнер для содержимого */
.container {
    max-width: 1200px; /* Максимальная ширина контейнера */
    padding: 0px; /* Отступ внутри контейнера */
}

/* Заголовок */
.title {
    font-size: 36px; /* Размер шрифта заголовка */
    font-family: 'Tiro Bangla', sans-serif; /* Шрифт заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    color: rgba(0, 0, 0, 1); /* Цвет текста заголовка */
}

/* Подзаголовок */
.subtitle {
    font-size: 18px; /* Размер шрифта подзаголовка */
    font-family: 'Tiro Bangla', sans-serif; /* Шрифт подзаголовка */
    margin-bottom: 30px; /* Отступ снизу */
    max-width: 50%;
    color: rgba(0, 0, 0, 0.55); /* Цвет текста подзаголовка */
}

/* Кнопка */
.catalog-button {
    display: inline-block; /* Блок для кнопки */
    padding: 15px 30px; /* Отступы внутри кнопки */
    background-color: rgba(68, 41, 56, 1); /* Цвет фона кнопки */
    color: rgba(255, 255, 255, 1); /* Цвет текста на кнопке */
    font-family: 'Lexend', sans-serif; /* Шрифт текста на кнопке */
    font-size: 16px; /* Размер шрифта кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border: none; /* Убираем границу */
    cursor: pointer; /* Курсор при наведении */
}

/* Эффект при наведении на кнопку */
.catalog-button:hover {
    /* background-color: rgba(44, 28, 37, 1); Прозрачность при наведении */
    transform: scale(1.01);
}