body{
    font-family: None;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
}
.pagination .active {
    font-weight: bold;
}

.role-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.role-list {
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content label {
    display: block;
    cursor: pointer;
}

.sort-icon {
    margin-left: 5px;
    font-size: 12px;
    visibility: hidden;  /* По умолчанию стрелка скрыта */
}

.sorted-asc .sort-icon {
    visibility: visible;
    content: '▲';  /* Стрелка вверх */
}

.sorted-desc .sort-icon {
    visibility: visible;
    content: '▼';  /* Стрелка вниз */
}

.role-dropdown {
    position: relative; /* Сделать этот элемент контекстом для позиционирования */
    display: inline-block; /* Чтобы кнопка занимала только необходимое пространство */
}

.dropdown-content {
    position: absolute; /* Позволяет свободно позиционировать относительно родителя */
    top: 0; /* Совпадает с верхней частью родителя */
    left: 0; /* Совпадает с левой частью родителя */
    border: 1px solid #ccc; /* Добавим границу для визуального выделения */
    background-color: white; /* Фоновый цвет для выпадающего меню */
    z-index: 1000; /* Обеспечьте, что оно будет сверху других элементов */
    display: none; /* Скрыто по умолчанию */
    width: 150px; /* Задайте ширину по вашему усмотрению */
}