.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.cart-item.out-of-stock {
    background-color: #e0e0e0;
    color: #888;
}

.item-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-size: 18px;
    margin: 0;
}

.item-description {
    font-size: 14px;
    color: #555;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
}

.item-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-btn {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.out-of-stock-text {
    font-size: 16px;
    font-weight: bold;
}

.remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.remove-icon {
    width: 20px;
    height: 20px;
}
.item-price {
    font-size: 1.5em; /* Размер шрифта для категории и цены */
    margin-bottom: 10px;
    color: #000;
}
/* Итоговая цена (со скидкой) */
.discounted-price {
    color: rgba(210, 58, 1, 1); /* Красная цена */
    font-size: 1em;
}

/* Бейдж скидки */
.discount-badge {
    position: absolute;
    top: 2%;
    background-color: rgba(210, 58, 1, 1); /* Красный прямоугольник */
    color: white;
    font-family: 'Tiro Bangla', serif; /* Шрифт Tiro Bangla */
    padding: 5px 10px;
    font-size: 1.2em;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Зачеркнутая цена */
.original-price {
    text-decoration: line-through;
    opacity: 0.5; /* Полупрозрачная цена */
    font-size: 0.9em; /* Чуть меньший шрифт */
    margin-right: 10px;
}

.catalog-button-container {
    /* align-content: center; */
    text-align: center; /* Центрируем кнопку */
    margin-top: 5; /* Отступ сверху */
    position: relative;
    left: 0%;
}
.load-more-button-container {
    /* align-content: center; */
    text-align: center; /* Центрируем кнопку */
    margin-top: 5%; /* Отступ сверху */
    position: relative;
    left: 0%;
}

.catalog-button {
    display: inline-block; /* Чтобы кнопка располагалась как блок */
    padding: 10px 20px; /* Отступы внутри кнопки */
    background-color: rgba(68, 41, 56, 1); /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 16px; /* Размер шрифта */
}

.catalog-button:hover {
    background-color: rgb(58, 35, 48); /* Цвет фона при наведении */
}
