<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANT | 404</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/headers.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/404.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="aaa">
        <div class="section">{% include 'header.html' %}</div>
        <div class="section">
            <div class="container">
                <img src="{{ url_for('static', filename='images/sad-plant.png') }}" alt="Sad Plant" class="sad-plant">
                <h1>Упс! Эта страница не найдена.</h1>
                <p>Пожалуйста, проверьте URL или вернитесь на главную страницу.</p>
            </div>
        </div>
    </div>
</body>
</html>