<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANT{% if title %} | {{ title }} {% endif %}</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/headers.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/description.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/plants.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/proposals.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/footers.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/trash.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/404.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/order_details.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/admins.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/card_plant.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/checkout.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="aaa">
        <div class="section">{% include 'header.html' %}</div>
        {% block content %}
        
        {% endblock %}
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/load.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/dashboards.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
</body>
</html>