{% extends "base.html" %}
{% block content %}
    <div class="section">
        <div class="filter-container">
            <div class="filter-container">
                <button class="filter-button" id="filter-button">
                    <img src="{{ url_for('static', filename='images/filter-icon.png') }}" alt="Фильтр" class="filter-icon"> 
                    Фильтр
                    <span id="sort-arrow" class="sort-arrow"></span>
                </button>
                <div class="filter-dropdown" id="filter-dropdown">
                    <a href="catalog/sort?sort=asc" id="sort-asc">Сортировать по возрастанию цены</a>
                    <a href="catalog/sort?sort=desc" id="sort-desc">Сортировать по убыванию цены</a>
                </div>
            </div>
        </div>
        <div class="proposals-section">
            {% include 'catalog_section.html' %}
        </div>
        <!-- Кнопка перейти в каталог -->
        {% if products|length > n %}
            <div class="load-more-button-container">
                <a href="javascript:void(0)" class="catalog-button" id="load-more">ПОКАЗАТЬ ЕЩЁ</a>
            </div>
        {% endif %}
    </div>
{% endblock %} 