<!-- footer.html -->
<footer>
    <div class="footers">
        <span class="footer-text-light">2024 магазин цветов и растений. PLANT</span>
        <div class="footer-v9_8">
                <a href="/catalog" class="footer-nav-link"><span class="footer-text-light">Каталог</span></a>
                <a href="/care-tips" class="footer-nav-link"><span class="footer-text-light">Советы по уходу</span></a>
                <a href="/payment-delivery" class="footer-nav-link"><span class="footer-text-light">Оплата и доставка</span></a>
                <a href="/contacts" class="footer-nav-link"><span class="footer-text-light">Контакты</span></a>
            </div>
        <span class="footer-logo">plant</span>
    </div>
</footer>