<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANT</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/headers.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/description.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/plants.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/proposals.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/footers.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="aaa">
        <div class="section">{% include 'header.html' %}</div>
        <div class="section">{% include 'description.html' %}</div>
        <div class="section">{% include 'plants.html' %}</div>
        <div class="section">{% include 'proposals.html' %}</div>
        <!-- <div class="section"></div> -->
    </div>
    {% include 'footer.html' %}
</body>
</html>