<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANT</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/headers.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/admins.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/footers.css') }}" rel="stylesheet" />
</head>
<body class="container py-4">
    <div class="aaa">
        <div class="section">{% include 'header.html' %}</div>
        <!-- Первый ряд с диаграммами -->
        <div class="section">
            <div class="chart-container">
                <!-- Круговая диаграмма товаров -->
                <div class="chart-card">
                    <h5 class="text-center">Количество товаров</h5>
                    <canvas id="productChart"></canvas>
                </div>
                
                <!-- Столбчатая диаграмма пользователей -->
                <div class="chart-card">
                    <h5 class="text-center">Диаграмма типов пользователей</h5>
                    <canvas id="userChart"></canvas>
                </div>

                <!-- Order Statistics диаграмма -->
                <div class="chart-card">
                    <h5 class="text-center">Статистика по заказам</h5>
                    <canvas id="orderChart"></canvas>
                </div>
            </div>

            <!-- Второй ряд с последними действиями и топ-3 товарами -->
            <div class="activity-container">
                <!-- Блок с топ-3 товарами -->
                <div class="activity-card">
                    <h5>3 пополуярных продукта</h5>
                    <div id="topProducts" class="row"></div>
                </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/dashboards.js') }}"></script>

</body>
</html>