{% extends "base.html" %}
{% block content %}
        <div class="section">
            <div class="chart-container">
                <!-- Круговая диаграмма товаров -->
                <div class="chart-card">
                    <h5 class="text-center">Количество товаров</h5>
                    <canvas id="productChart"></canvas>
                </div>
                
                <!-- Столбчатая диаграмма пользователей -->
                <div class="chart-card">
                    <h5 class="text-center">Диаграмма типов пользователей</h5>
                    <canvas id="userChart"></canvas>
                </div>

                <!-- Order Statistics диаграмма -->
                <div class="chart-card">
                    <h5 class="text-center">Статистика по заказам</h5>
                    <canvas id="orderChart"></canvas>
                </div>
            </div>

            <!-- Второй ряд с последними действиями и топ-3 товарами -->
            <div class="activity-container">
                <!-- Блок с топ-3 товарами -->
                <div class="activity-card">
                    <h5>3 пополуярных продукта</h5>
                    <div id="topProducts" class="row"></div>
                </div>
        </div>
{% endblock %} 
