<div class="plant-cards">
    <a href="/plants/fikus" class="plant-card">
        <div class="plant-image fikus-image"></div>
        <div class="plant-info">
            <span class="plant-title">Фикусы</span>
            <span class="plant-description-fikus">Эффектные украшения интерьера</span>
        </div>
    </a>
    <a href="/plants/sukulent" class="plant-card">
        <div class="plant-image sukulent-image"></div>
        <div class="plant-info">
            <span class="plant-title">Суккуленты</span>
            <span class="plant-description-sukulent">Маленькие и модные</span>
        </div>
    </a>
    <a href="/plants/palmy" class="plant-card-big">
        <div class="plant-image palmy-image"></div>
        <div class="plant-info">
            <span class="plant-title">Пальмы</span>
            <span class="plant-description-palmy">Пышные и неприхотливые пальмы - элегантный предмет декора</span>
        </div>
    </a>
</div>