{% extends "base.html" %}
{% block content %}
    <div class="section">

        <table id="data-table" data-table-type="{{ name_table }}">
            <thead>
                <tr>
                    {% for col in title %}
                        <th data-column="{{ loop.index0 }}" onclick="handleColumnSort('{{ loop.index0 }}')">
                            {{ col }}
                            <span class="sort-icon" id="sort-icon-{{ loop.index0 }}"></span>
                        </th>
                    {% endfor %}
                    <!-- <th>Подробнее</th> -->
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Данные таблицы загружаются динамически -->
            </tbody>
        </table>

        <div class="pagination" id="pagination">
            <button onclick="changePage('prev')" id="prevButton">Назад</button>
            <div id="pageNumbers"></div>
            <button onclick="changePage('next')" id="nextButton">Далее</button>
        </div>
    </div>
{% endblock %} 
